priceOffer/Price_analysis.json
{
  "name": "Price analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ],
      "id": "dd33ab10-1218-4d41-b3de-6244fb94f759",
      "name": "Webhook",
      "webhookId": "81a13a09-38f4-49ed-ba4e-dc67930300cb",
      "notesInFlow": true,
      "notes": "Getting User's Input."
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    product: $json.body.product\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "62fda593-4fb9-4ca1-aec7-3b9bc396a561",
      "name": "Getting the Json"
    },
    {
      "parameters": {
        "command": "=node /data/scraper.js {{$json[\"product\"]}}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "da4f8611-9d51-494c-a054-6b996199f142",
      "name": "Post input data to nodejs scraper"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"product\": \"{{$json[\"product\"]}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        420,
        0
      ],
      "id": "7a3a63a3-8468-4c60-8c47-dccf6a81322c",
      "name": "Result"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Getting the Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting the Json": {
      "main": [
        [
          {
            "node": "Post input data to nodejs scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post input data to nodejs scraper": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bebba388-8d7e-4cce-8b06-9a66d2d2709b",
  "meta": {
    "instanceId": "8eefdd3b24e2a2ef2e3ecce40723f4f9958220f48696212ab6890e07ab613502"
  },
  "id": "z5kefdgTKEyvlP05",
  "tags": []
}